/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  background: url(/public/images/cream_dust_@2X.png);
  margin-top: 70px;
}

#logo {
  /*font-family: Helvetica Nueu, Arial, sans-serif;*/
  font-size: 32px;
  font-weight: 100;
  cursor: pointer;
  color: #ffffff;
}

img {
  border-radius: 3px;
  -moz-box-shadow: -2px -2px 4px -2px #999;
  -webkit-box-shadow: -2px -2px 4px -2px #999;
  box-shadow: -2px -2px 4px -2px #999;
}

.top-bar {
  background-color: #444;
  margin-bottom: 50px;
}

pre.poem {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  overflow-x: scroll;
}

p.author {
  font-weight: 200;
  font-style: italic;
}

h3 {
  font-weight: 300;
  color: #666;
}

.panel {
  border-radius: 5px;
}

.comments {
  /*margin: 20px;*/
  border: 1px solid #999;
  min-height: 100px;
  max-height: 450px;
  overflow-y: scroll;
}

.entry {
  margin-bottom: 30px !important;
}
