/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  background: url(/public/images/cream_dust_@2X.png);
}

#logo {
  /*font-family: Helvetica Nueu, Arial, sans-serif;*/
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
  color: #ffffff;
}

img {
  border-radius: 4px;
  -moz-box-shadow: -2px -2px 4px -2px #666;
  -webkit-box-shadow: -2px -2px 4px -2px #666;
  box-shadow: -2px -2px 4px -2px #666;
}

.top-bar {
  background-color: #444;
  margin-bottom: 50px;
}

#navigation {
  margin-bottom: 70px;
}
