/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  background: url(/public/images/cream_dust_@2X.png);
  margin-top: 70px;
}

#logo {
  /*font-family: Helvetica Nueu, Arial, sans-serif;*/
  font-size: 32px;
  font-weight: 100;
  cursor: pointer;
  color: #ffffff;
}

img {
  border-radius: 3px;
  -moz-box-shadow: -2px -2px 4px -2px #999;
  -webkit-box-shadow: -2px -2px 4px -2px #999;
  box-shadow: -2px -2px 4px -2px #999;
}

.top-bar {
  background-color: #444;
  margin-bottom: 50px;
}

pre.poem {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  overflow-x: scroll;
}

pre.poem-full {
  /*font-family: "Helvetica Neue", Arial, sans-serif;*/
  font-family: "Garamond", Arial, sans-serif;
  font-size: 18px;
l font-weight: 400;
  padding-bottom: 30px;
}

p.author {
  font-weight: 200;
  font-style: italic;
}

h3 {
  font-weight: 300;
  color: #666;
}

h3.full-title {
  font-size: 40px;
}

.panel {
  border-radius: 5px;
}

.comments {
  /*margin: 20px;*/
  border: 1px solid #999;
  min-height: 100px;
  max-height: 450px;
  overflow-y: scroll;
}

.entry {
  margin-bottom: 30px !important;
}

#menu-bar {
  font-weight: 200;
  padding-top: 4px;
}

.contain-to-grid {
  background-color: #444;
}

#menu-bar img{
  margin-top: 2px;
  box-shadow: none;
  border-radius: 2px;
}

li.name a:hover {
  background-color: #333;
}

@media only screen and (max-width: 940px) {
  .top-bar ul li.has-dropdown.moved .dropdown li:not(.title) a {
    padding: 6px 22.5px;
  }

  .top-bar ul li.name {
    background: #444;
    }

  .top-bar ul > li.has-dropdown a:hover {
    background: #333;
    cursor: pointer;
  }

  .top-bar ul li.toggle-topbar:hover {
    background: #333;
  }
}

.fill-width {
  width: 100%;
}

.full-comments {
  /*background-color: rgba(255,255,255, 0.8);*/
  /*border-radius: 2px;*/
}

.commenter-name {
  display: inline;
  position: relative;
  top: -20px;
}

.full-comments h5 {
  font-weight: 200;
}

.comment-row {
  padding-top: 15px;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
}

.comments-box {
  /*background-color: rgba(255,255,255,0.5);*/
}

.poem-category {
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 5px;
  padding-left: 20px;
}

.comment-timestamp {
  padding-left: 15px;
  color: #444;
  font-size: 12px;
}

select.normal-width {
  width: auto;
  display: block;
  margin-bottom: 20px;
}

textarea#content {
  padding-bottom: 20px;
}

